.Grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item{
text-align: center;
border: 1px black solid;
padding: 60px;
margin: 15px;
border-radius: 6px;
}

h1{
    text-align: center;
}